<table
    style="border-collapse:collapse;table-layout:fixed;margin:0 auto;border-spacing:0;padding:0;height:100%!important;width:100%!important;font-weight:normal;font-family:'roboto',Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4"
    height="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="background:#ffffff;padding:16px 0">
                <table style="max-width:800px;margin:auto;border-spacing:0;padding:1px;overflow:hidden;border: 1px solid #CCCCCC;padding: 60px 80px;
                    box-sizing: border-box;
                    border-radius: 10px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse">
                                <table
                                    style="margin:auto;border-spacing:0;background:white;border-radius:0px;overflow:hidden"
                                    align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse">
                                                <table style="border-spacing:0;border-collapse:collapse;height: 53px;"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;" align="left"
                                                                valign="middle">

                                                                <img src="cid:myimagecid" width="100" height="25" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="border-collapse:collapse">
                                                <table style="border-spacing:0;border-collapse:collapse"
                                                    bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;" align="left"
                                                                valign="middle">
                                                                <table style="border-spacing:0;border-collapse:collapse"
                                                                    bgcolor="#ffffff" border="0" cellpadding="0"
                                                                    cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>

                                                                            <td align="left" valign="middle" style="
                                                                                font-family: Noto Sans CJK KR;
                                                                                font-style: normal;
                                                                                font-weight: bold;
                                                                                font-size: 30px;
                                                                                line-height: 44px;
                                                                                padding-top: 32;
                                                                                color: #0040A0;">
                                                                                비밀번호 인증코드 발급 안내 </td>


                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td
                                                style="border-collapse:collapse;padding-top: 30px;background:#ffffff;font-family:'roboto',Arial,Helvetica,sans-serif">
                                                <p style="padding:0;margin:0;font-size: 14px;
                                                    line-height: 21px;
                                                    color: #3D3C3E;
                                                    font-weight:400;">
                                                    안녕하세요, <span
                                                        style="color:#0040A0;font-weight:700;text-decoration:none;"><u><a>{{email}}</a></u></span>
                                                    님.
                                                </p>
                                                <p style="padding:0;margin:0;font-size: 14px;
                                                    line-height: 21px;
                                                    color: #3D3C3E;
                                                    font-weight:400;
                                                    margin-top:8px;">


                                                    이 이메일은 <b>스마텍(Smartec)</b>에서 신청해 주신 비밀번호 재발급을 위해
                                                    발송되었습니다.


                                                </p>
                                                <p style="padding:0;margin:0;font-size: 14px;
                                                    line-height: 21px;
                                                    color: #3D3C3E;
                                                    font-weight:400;
                                                    margin-top:8px;">


                                                    아래 인증 코드를 인증 코드 입력 칸에 작성하시고 인증 버튼을 눌러주세요.
                                                </p>

                                                <div style="text-align:center;font-weight: bold;
                                                font-size: 50px;
                                                line-height: 74px;
                                                padding-top: 40px;
                                                padding-bottom: 40px;
                                                letter-spacing: 0.2em;
                                                color: #0040A0;
                                                ">{{link}}</div>

                                                <p
                                                    style="padding:0;margin:0;color:#3D3C3E;font-weight:400;line-height:21px;font-size:14px;">
                                                    더욱 좋은 서비스를 위해 노력하는 스마텍 팀이 되겠습니다.
                                                </p>
                                                <p
                                                    style="padding:0;margin:0;color:#3D3C3E;font-weight:400;line-height:21px;font-size:14px;margin-bottom: 60px;margin-top:8px;">
                                                    감사합니다.
                                                </p>
                                            </td>
                                        </tr>

                                        <tr style="margin-top:60px;" width="100%">
                                            <td style="display:flex;flex-wrap: wrap;justify-content: space-between;">
                                                <p style="font-size:12px;color:#565656;font-weight:400;" width="60%">본
                                                    메일은 발신 전용이며,
                                                    문의에 대한 회신은 처리되지
                                                    않습니다.
                                                </p>
                                                <p style="font-size:12px;color:#565656;font-weight:400;text-align: right;"
                                                    width="40%">
                                                    ©
                                                    Smartec. ALL
                                                    RIGHTS RESERVED.</p>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>